@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background: var(--body-bg);
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px !important;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.mainContainer {
    min-width: 70%;
    background-color: var(--main-bg);
    margin-top: 20px;
    padding: 32px;
    border-radius: 24px;
}