@import url("../../shared/styles/color.css");

.recentFilesSection {
    background-color: var(--default-bg);
    padding: 24px;
    border-radius: 24px;
}

.sectionHeader {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.recentFilesContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
