.mainContainer {
  width: 1200px;
  background-color: #f3f4f6;
  padding: 32px;
  border-radius: 24px;
}

.topContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.elementsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headerText {
  font-size: 30px;
  font-weight: 700;
}

.searchAndActionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emptyDivider {
  display: flex;
  gap: 16px;
}
