.header {
    display: flex;
    flex-direction: column;

}

.actionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px ;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
 }

.showAllContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}