@import url("../../../shared/styles/color.css");

.recentFileItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    transition: background-color 0.2s;
    color: var(--text-title-color)
}

.recentFileItem:hover {
    background-color: var(--file-hover-color);
}

.fileInfo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.fileIcon {
    font-size: 24px;
}

.fileName {
    font-weight: 500;
}

.sizeAndOptions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.fileSize {
    font-size: 14px;
    color: var(--text-p-color);
}

.optionsIcon {
    font-size: 20px;
    color: var(--text-p-color);
    opacity: 0;
    transition: opacity 0.2s;
}

.recentFileItem:hover .optionsIcon {
    opacity: 1;
}